<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="insuaranceupdate" connectionString="Data Source=DESKTOP-IPK15IF\SQLEXPRESS;Database=InsuaranceUpdated;Trusted_Connection=True;" providerName ="System.Data.SqlClient" />
		<add name="insuarance2" connectionString="Data Source=DESKTOP-IPK15IF\SQLEXPRESS;Initial Catalog=InsuaranceUpdated;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="insuarance" connectionString="Server=.\sql2018;Database=InsuaranceUpdated;Trusted_Connection=True;" providerName ="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>